<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta elements -->
    <meta name="author" content="Yuting Wang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">

    <title>Yuting Wang</title>
</head>

<body onload=" addYear()">
    <header>
        <h1 id="webname">Yuting Wang</h1>
        <nav id="myTopnav" class="topnav">
            <a href = "index.html">Home</a>
            <a href = "cv.html">CV</a>
            <a href = "contact.html" class="active">Contact Me</a>
            <a href = "fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
              </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form>
            <label for = "name"> Your Name (required): </label>
            <input type="text" id="name" required/>
            <label for="email"> Your Email (required):</label>
            <input type="email" id="email" required/>
            <label for="comment"> Your Comment or Question:</label>
            <textarea id="comment" cols="30" rows="10" required></textarea>
            <input type="submit" value="Send"/>
        </form>
        <p id="ValidateMsg"></p>
        <br><br>
        <table>
            <tr><th>Contact Method</th><th>Description</th></tr>
            <tr><td>Email</td><td>yutingw2@andrew.cmu.edu</td></tr>
            <tr><td>Phone</td><td>4128773178</td></tr>
            <tr><td>LinkedIn</td><td>www.linkedin.com/in/yuting-wang-06628b292</td></tr>
        </table>
    </div>
    <footer>
        <p id="copyYear"> Yuting Wang &copy</p>
    </footer>
</body>

</html>