<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta elements -->
    <meta name="author" content="Yuting Wang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">

    <title>Yuting Wang</title>
</head>

<body onload=" addYear()">
    <header>
        <h1 id="webname">Yuting Wang</h1>
        <nav id="myTopnav" class="topnav">
            <a href = "index.html">Home</a>
            <a href = "cv.html" class="active">CV</a>
            <a href = "contact.html">Contact Me</a>
            <a href = "fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
              </a>
        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Carnegie Mellon University</td><td>Class of 2026</td></tr>
        </table>
        <a href="../static/my_resume.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear"> Yuting Wang &copy</p>
    </footer>
</body>

</html>